
.logo_box {
    background-color: #F6F9FF;
    padding: 40px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
}

.logo_img {
    margin-left: 300px;
    margin-top: -33px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.logo_text {
    transform: translateX(4in);
    display: block;
    font-size: 1.5em;
    margin-block-start: -3em;
    margin-block-end: 12.83em;
    margin-inline-start: 12px;
    margin-inline-end: -1px;
    font-weight: bold;
}


/*nav ul {
    float: right;
    margin-top: -98px;
    margin-right: 325px;
}*/

//nav li 
    display: inline-block;
    list-style: none;
    font-size: 18px;
    padding: 0px 20px;
    color: black;
    text-decoration: none;



/*nav li a {
    color: black;
    font-size: 18px;
    padding: 0px 20px;
}*/

.ul_li {
    float: right;
    display: inline-block;
    margin-top: -190px;
    margin-right: 325px;
    font-size: 65px;
    padding: 0px 20px;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

.hero_section1 {
    display: flex;
    justify-content: left;
    height: 3vh;
    border-radius: 10px;
    margin-inline-start: 12px;
}

.hero_section2 {
    display: flex;
    justify-content: left;
    height: 3vh;
}

.container1 {
    transform: translateX(4in);
    transform: translateY(2in);
}

.content {
    display: flex;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-family: sans-serif;
}

.three_box {
    display: flex;
}

.small_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 112px;
    column-gap: 15px;

}
.button{
    background-color: rgb(0, 104, 71);
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

